NEXT_PUBLIC_API_URL=https://api-board-production.up.railway.app


# port backend
# หาก run บน local ใช้ port :http://localhost:3001
# หาก run บน production ใช้ port :https://api-board-production.up.railway.app